 # Problem 1
 Kullanıcıdan aldığınız bir sayının mükemmel olup olmadığını bulmaya çalışın.
Bir sayının kendi hariç bölenlerinin toplamı kendine eşitse bu sayıya "mükemmel sayı" denir. 

Örnek olarak, 6 mükemmel bir sayıdır. (1 + 2 + 3 = 6)

In [ ]:
# 1. problemimiz için kodlarını buraya yazabilirsin.

sayı = int(input("Bir sayı giriniz: "))
sayının_toplamı = 0

for i in range(1,sayı):
  if sayı% i == 0:
    sayının_toplamı+=i

if sayı == sayının_toplamı:
  print(f" {sayı} sayısı mükemmel sayıdır.")
else:
  print(f" {sayı} sayısı mükemmel sayı değildir.")

Bir sayı giriniz: 8128
8128 sayısı mükemmel sayıdır.

 # Problem 2
Kullanıcıdan aldığınız bir sayının "Armstrong" sayısı olup olmadığını bulmaya çalışın.

Örnek olarak, Bir sayı eğer 4 basamaklı ise ve oluşturan rakamlardan herbirinin 4. kuvvetinin toplamı (3 basamaklı sayılar için 3.kuvveti) o sayıya eşitse bu sayıya "Armstrong" sayısı denir.

Örnek olarak : 1634 = 1^4 + 6^4 + 3^4 + 4^4

In [ ]:
# 2. problemimiz için kodlarını buraya yazabilirsin.
alınan_sayı = int(input("Lütfen bir sayı giriniz: "))
sayı_basamak = str(alınan_sayı)
sayı_basamak_toplamı = 0

for x in sayı_basamak:
  y = int(x)**len(sayı_basamak)
  sayı_basamak_toplamı += y

if sayı_basamak_toplamı == alınan_sayı:
  print(f"Alınan sayı {alınan_sayı} Armstrong sayısıdır.")
else:
  print(f"Alınan sayı {alınan_sayı} Armstrong sayısı değildir.")

Lütfen bir sayı giriniz: 1634
Alınan sayı 1634 Armstrong sayısıdır.

# Problem 3
1'den 10'kadar olan sayılarla ekrana çarpım tablosu bastırmaya çalışın.
İpucu: İç içe 2 tane for döngüsü kullanın. 

Aynı zamanda sayıları range() fonksiyonunu kullanarak elde edin.

In [ ]:
# 3. problemimiz için kodlarını buraya yazabilirsin.
print("Çarpım Tablosu \n")
for a in range(1,11):
  for b in range(0,11):
    print(f"{a}*{b} = {a*b}")
  print("\n---------------------------------------- \n")

Çarpım Tablosu

1*0 = 0
1*1 = 1
1*2 = 2
1*3 = 3
1*4 = 4
1*5 = 5
1*6 = 6
1*7 = 7
1*8 = 8
1*9 = 9
1*10 = 10

----------------------------------------

2*0 = 0
2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20

----------------------------------------

3*0 = 0
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
3*10 = 30

----------------------------------------

4*0 = 0
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
4*10 = 40

----------------------------------------

5*0 = 0
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

----------------------------------------

6*0 = 0
6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
6*10 = 60

----------------------------------------

7*0 = 0
7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
7*10 = 70

----------------------------------------

8*0 = 0
8*1 = 8
8*2 = 16
8*3 = 24
8*4 = 32
8*5 = 40
8*6 = 48
8*7 = 56
8*8 = 64
8*9 = 72
8*10 = 80

----------------------------------------

9*0 = 0
9*1 = 9
9*2 = 18
9*3 = 27
9*4 = 36
9*5 = 45
9*6 = 54
9*7 = 63
9*8 = 72
9*9 = 81
9*10 = 90

----------------------------------------

10*0 = 0
10*1 = 10
10*2 = 20
10*3 = 30
10*4 = 40
10*5 = 50
10*6 = 60
10*7 = 70
10*8 = 80
10*9 = 90
10*10 = 100

----------------------------------------

#Problem 4

Her bir while döngüsünde kullanıcıdan bir sayı alın ve kullanıcının girdiği sayıları "toplam" isimli bir değişkene ekleyin. Kullanıcı "q" tuşuna bastığı zaman döngüyü sonlandırın ve ekrana "toplam değişkenini" bastırın.

İpucu : while döngüsünü sonsuz koşulla başlatın ve kullanıcı q'ya basarsa döngüyü break ile sonlandırın.

In [ ]:
# 4. problemimiz için kodlarını buraya yazabilirsin.
toplam = 0
while True:
  secim = input("Döngüden çıkmak için 'q' harfine basın. Devam etmek için sayı giriniz: ")

  if secim == "q":
   print("Uygulama sonlandırılmıştır.")
   break
  else:
    devam_sayı = int(secim)
    toplam += devam_sayı
print(toplam)

Döngüden çıkmak için 'q' harfine basın. Devam etmek için sayı giriniz: 4
Döngüden çıkmak için 'q' harfine basın. Devam etmek için sayı giriniz: 5
Döngüden çıkmak için 'q' harfine basın. Devam etmek için sayı giriniz: 10
Döngüden çıkmak için 'q' harfine basın. Devam etmek için sayı giriniz: q
Uygulama sonlandırılmıştır.
19

#Problem 5
1'den 100'e kadar olan sayılardan sadece 3'e bölünen sayıları ekrana bastırın. Bu işlemi continue ile yapmaya çalışın.

In [ ]:
# 5. problemimiz için kodlarını buraya yazabilirsin.
for i in range(1,101):
  if i % 3 == 0:
    print(i)
  else:
    continue

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

#Problem 6
Buradaki problemin çözümünü derslerimizde özellikle öğrenmedik. Burada mantık yürüterek ve list comprehension kullanarak 1'den 100'e kadar olan sayılardan sadece çift sayıları bir listeye atmayı yapmayı çalışın.

In [ ]:
# 6. problemimiz için kodlarını buraya yazabilirsin.
liste = [ x for x in range(1,101) if x %2 == 0]
print(liste)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]